*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    background: #FEFEFF;
}

/* NAVBAR */
.navbar{
    position: fixed;
    left: 2.5rem;
    right: 2.5rem;
    z-index: 999;
}

/* PRODUCT SECTION */
.productSection{
    height: 100vh;
    display: flex;
}

/* LEFT SIDE */
.leftProduct{
    width: 50%;
    background: #FEFEFF;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 4rem;
}

.leftProduct img{
    width: 28rem;
    height: 28rem;
    object-fit: cover;
    border-radius: 0.25rem;
}

/* RIGHT SIDE */
.rightProduct{
    width: 50%;
    background: #F2F5FE;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 8rem;
}

/* CATEGORY */
.rightProduct p{
    color: rgba(0, 0, 0, 0.40);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01875rem;
    text-transform: uppercase;

    margin-bottom: 1rem;
}

/* TITLE */
.rightProduct h2{
    color: #0A0A0A;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;

    text-transform: uppercase;

    margin-bottom: 2rem;
}

/* DESCRIPTION */
.rightProduct h6{
    color: rgba(0, 0, 0, 0.70);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;

    max-width: 34rem;

    margin-bottom: 2rem;
}

/* PRICE */
.rightProduct h3{
    color: #0A0A0A;
    font-size: 1.7rem;
    font-weight: 700;

    margin-bottom: 2rem;
}

.rightProduct h3 span{
    color: #03C;
}

/* BUTTONS */
.buttons{
    display: flex;
    gap: 1rem;
    width: 28rem;
}

.buttons button{
    flex: 1;

    padding: 1.1rem 2rem;

    border-radius: 0.5rem;

    font-size: 1rem;
    cursor: pointer;

    transition: 0.3s;
}

/* ADD TO CART */
.addToCart{
    border: 2px solid #03C;
    background: transparent;
    color: #03C;

    box-shadow:
    0 181px 51px rgba(0, 51, 204, 0),
    0 116px 46px rgba(0, 51, 204, 0.02),
    0 65px 39px rgba(0, 51, 204, 0.07),
    0 29px 29px rgba(0, 51, 204, 0.11),
    0 7px 16px rgba(0, 51, 204, 0.13);
}

/* BUY NOW */
.buyNow{
    border: none;
    background: #03C;
    color: white;

    box-shadow:
    0 181px 51px rgba(0, 51, 204, 0),
    0 116px 46px rgba(0, 51, 204, 0.02),
    0 65px 39px rgba(0, 51, 204, 0.07),
    0 29px 29px rgba(0, 51, 204, 0.11),
    0 7px 16px rgba(0, 51, 204, 0.13);
}