* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: white;
}


.cta {
  background: #03c;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 100rem;
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: normal;
  letter-spacing: 0.02em;
  width: fit-content;
}


/* HERO SECTION */
.navbarSection {
  min-height: 100vh;
  padding: 0 2.5vw;
  border-bottom: 0.667px solid rgba(0, 0, 0, 0.10);

}

.navbar {
  display: flex;
  height: 5rem;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 1.25rem 1.25rem;
  background: #FFF;
  box-shadow: 0 181px 51px 0 rgba(0, 51, 204, 0.00), 0 116px 46px 0 rgba(0, 51, 204, 0.02), 0 65px 39px 0 rgba(0, 51, 204, 0.07), 0 29px 29px 0 rgba(0, 51, 204, 0.11), 0 7px 16px 0 rgba(0, 51, 204, 0.13);
}

/* LOGO */
.logo {
  font-family: "Modak", cursive;
  font-size: 1.75rem;
  color: #0033CC;
  cursor: pointer;
}

/* NAV LEFT */
.navLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* NAV LINKS */
.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks li {
  cursor: pointer;
  color: #333;
  font-size: 0.9rem;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* NAV RIGHT */
.navRight {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

/* SEARCH WRAPPER */
.searchWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  height: 2.875rem;
  border-radius: 1.5rem;
  padding: 0.3rem 0.3rem 0.3rem 0.625rem;
  gap: 0.5rem;
  background: #fff;
  width: clamp(280px, 22vw, 400px);
}

.searchWrapper input {
  border: none;
  outline: none;
  padding: 0;
  font-size: 0.875rem;
  flex: 1;
  color: #333;
  background: transparent;
}

.searchIcon {
  width: 1rem;
  height: 1rem;
  opacity: 0.45;
}

/* SEARCH BUTTON */
.searchBtn {
  background: #03C;
  color: white;
  border: none;
  height: 2.25rem;
  padding: 0.625rem 1.125rem;
  border-radius: 500px;
  cursor: pointer;
  font-size: 0.8125rem;
  white-space: nowrap;
}

/* FAV BUTTON */
.favBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.favBtn img {
  width: 1.125rem;
  height: 1.125rem;
}

/* PROFILE */
.icons {
  cursor: pointer;
}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}