* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: #000;
}

p {
  color: #555555;
}

label {
  color: #555555;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  width: 40%;
  background: #03c;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: "Modak", cursive;
  font-size: 40px;
}

.illustration {
  width: 70%;
}

/* RIGHT */
.right {
  width: 60%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 350px;
}

.form-box h1 {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: 100%; /* 44px */
  letter-spacing: 0.25px;
}

.signup-text {
  margin-bottom: 20px;
  color: #555;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: 0.25px;
}

.signup-text a {
  text-decoration: none;
  color: #03c;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.25px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #555555;
  border-radius: 10px;
  outline: none;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.role-text {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 0.25px;
}

.roles {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background: #03c;
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* BOTTOM */
.bottom-row {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.forgot {
  text-decoration: none;
  color: #03c;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 12px */
  letter-spacing: 0.25px;
}

/* GOOGLE */
.google-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #03c;
  border-radius: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: #555555;
}

.google-btn img {
  width: 18px;
}

.terms {
  font-size: 12px;
  margin-bottom: 15px;
}

/* Responsive */

/* Tablet */
@media (max-width: 900px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .form-box {
    width: 90%;
  }

  h1 {
    font-size: 24px;
  }

  .roles {
    flex-direction: column;
    gap: 5px;
  }

  .bottom-row {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
